* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

.wrapper {
 	width: 910px;
 	margin: 0 auto;
}

a {
	text-decoration: none;
}

a, span, p {
 	font-family: "Lucida Sans Unicode", Arial, sans-serif;
 }

/* HEADER */

header{ 
 	background-color: #fff;
 	margin: 0 auto;
 	padding: 18px 5px 10px;
 }

.phones {
	display: inline-block;
	vertical-align: bottom;
}

.phones img {
	vertical-align: text-bottom;
}
.phones p {
	display: inline-block;
	font-family: Arial, sans-serif;
	color: #5e696d;
	font-size: 18px;
}
 
 /*login form*/

.enter {
 	display: inline-block;
 	padding: 0 8px;
 	margin: 0 10px;
 	line-height: 24px;
 	border-radius: 6px;
 	background: rgba(31,102,133,1);
background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(90%, rgba(15,59,94,1)), color-stop(100%, rgba(13,54,90,1)));
background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
 }

.enter form {
	display: inline-block;
}

.enter i {
	color:white;
    position: relative;
    top: 2px;
}

.enter form input {
	max-width: 114px;
	font-size: 11px;
    line-height: 13px;
}

.enter .enter-registration {
	display: inline-block;
	color: white;
	padding-left: 5px;
}

.enter .enter-registration a {
	padding-right: 4px;
	font-size: 11px;
	color: white;
}

.enter .forget-password{
	display: inline-block;
	margin-left: 18px;
}

.enter .forget-password a {
	color: #bfbfbf;
	font-size: 12px;
}

.enter .forget-password a:hover {
	text-decoration: underline;
}
 
 .icons {
	display: inline-block;
	border: 1px solid #bfbfbf;
	border-radius: 12px;
	padding: 0 10px;
	line-height: 20px;
 }

 .icons a {
 	padding: 0 2px;
 }

   /*main menu*/

.menu {
	text-align: right;
	border-radius: 6px;
	margin: 1px 0 14px 0;
	line-height: 33px;
	background: rgba(77,86,99,1);
background: -moz-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,86,99,1)), color-stop(4%, rgba(77,86,99,1)), color-stop(14%, rgba(45,50,54,1)), color-stop(100%, rgba(1,1,1,1)));
background: -webkit-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -o-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -ms-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: linear-gradient(to bottom, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#010101', GradientType=0 );
}

.menu ul, .menu .corb {
	display: inline-block;
	vertical-align: top;
}

.menu ul {
	line-height:0; 
	font-size:0; 
	vertical-align:0;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	border-radius: 16px;
	padding: 0 6px;
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	color: #b1bcc0;
	line-height: 24px;
}
 .menu ul li a{
 	color: #b1bcc0;
 	padding: 0 8px;
 }

.menu ul li:hover {
	background: rgba(31,102,133,1);
background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(90%, rgba(15,59,94,1)), color-stop(100%, rgba(13,54,90,1)));
background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);	
}

.menu ul li a:hover {
	color: #fff;
}

.menu .corb {
	padding: 0 0 0 40px;
}

.menu .corb img {
	vertical-align: text-bottom;
    padding-right: 5px;
}

.menu .corb a {
	color: #8a9296;
	font-size: 11px;
}

.menu .corb a span {
	color: #0d5a8f;
	font-size: 12px;
	padding-right: 14px;
}


/*CONTENT */

.wrapper aside,
.wrapper main {
	display: inline-block;
	vertical-align: top;
}

.logo a {
	display: inline-block;
}

/* aside */

.wrapper aside {
	width: 20%;
}

.catalog header, 
.brends header {
	width: 85%;
	border:1px solid #79878d;
	border-radius: 16px;
	padding: 0 0 0 26px;
	font-size: 14px;
	color: #114165;
	background: url(../img/icon_doc.png) 2px 1px  no-repeat;
	margin: 5px 0 13px;
	line-height: 23px;
}

.brends header {
	width: 83%;
	margin: 2px 0 13px;
	padding: 0 0 0 31px

}
.catalog header h1, 
.brends header h1 {
	color: #114165;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-weight: normal;
	line-height: 24px;
}

.brends header h1 {
	font-size: 14px;
}

.catalog .name,
.brends .name {
	background: url(../img/icon_round.png) 3px 1px no-repeat;
	width: 68%;
	padding-left: 27px;
	border:1px solid #79878d;
	border-radius: 14px;
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	line-height: 26px;
}

.checkbox .name {
	background: url(../img/icon_round.png) 5px 1px no-repeat;
    width: 63%;
    border-radius: 14px;
    line-height: 27px;
    padding-left: 30px;
}

aside .name h2 {
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-weight: normal;
}
.catalog .sidebarMenu {
	padding: 0 0 2px 48px;
}

.catalog .sidebarMenu ul {
	margin-bottom: -6px
}

.catalog .sidebarMenu ul li a,
.brends label {
	color: #465961;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	line-height: 26px;
}

.brends label {
	color: #465961;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	line-height: 25px;
}

.catalog .sidebarMenu ul li a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #0c3256;
	font-style: italic;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

.brends form {
	padding-left: 14px;
}

.brends form label {
	padding-left: 9px;
}

.brends form .checkboxControl {
	margin: 3px 0 7px;
}

.brends form label input {
	margin-right: 13px;
}

.brends form button {
	background-color: #124569;
	padding: 5px 12px;
	margin: 9px 10px;
	border:none;
	border-radius: 15px;
	font-size: 12px;
	color:white;
	box-shadow: 2px 2px 4px gray;
	text-transform: uppercase;
}

/*products*/

.wrapper main {
	width: 52%;
	margin: 0 7px 0 5px;
}

.products {
	padding: 15px 25px 0;
	background: rgba(228,231,232,1);
background: -moz-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
background: -webkit-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -o-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -ms-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#93a7b0', GradientType=0 );	
}

.products .row {
	padding-bottom: 28px;
}

.product {
	display: inline-block;
	width: 135px;
	text-align: center;
}

.product__name {
	line-height: 15px;
}

.product__name a {
	color:#206988;
	font-size: 15px;
	font-weight: 600;
}

.product__name p {
	color:#1f2528;
	font-size: 13px
}

.product__price p {
	color:#114165;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.product__price span {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.product__img {
	border-radius: 10px;
	border: 1px solid #cfd4d6;
	text-align: center;
	background-color: white;
	width: 100%;
}

.product:nth-child(even) {
	padding: 0 29px;
}


/*logos*/

.logo {
	padding: 40px 0 24px;
	text-align: center;
}

.logo a {
	vertical-align: top;
	margin-right: 6px;
}


/*footer*/

footer {
	background-color: #213a4d;
	text-align: center;
}

footer ul {
	width: 100%;
	list-style: none;
	padding: 12px 0;
	line-height: 9px;
}

footer ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	padding-right: 14px;
	border-right: 1px solid white;
}

footer ul li:last-child {
	border: none;
}

footer ul li a {
	color:#bec6c9;
	font-size: 12px;
}

footer ul li a:hover {
	color:#52abcb;
}

footer .copyright {
	padding: 0 0 30px 0;
	color: #7f4740;
	font-size: 10px;
	line-height: 40px;
}

/*TODO Filter*/
.filter {
	height: 148px;
}




