$font-Bold:     'Source Sans Pro Semibold Bold', sans-serif;
$font-Regular:  'Source Sans Pro Regular', sans-serif;
$font-Semibold: 'Source Sans Pro Semibold', sans-serif;
$green-color:   #a9cf55;
$red-color:     #ff7f68;
$blue-color:    #4e90c7;
$grey-color:    #f6f5f6;
$orange-color:  #ffa940;
$text-color:    #777;
$animation-speed: .3s;
