 .clearfix:after {
    content: ' ';
    display: block;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
img {
	border: none;
}
.inform__block {
	width: 33.3%;
}
.sliders {
	background-image: url(../img/bg_sliders.png);
}
.about {
	background-color: #694876
}

	.logos__images {
		padding: 33px 0px 33px 28px;
		width: 94%;
	}

	.about__company {
	    width: 30%;
	}
	.about__company:nth-child(3) {
		width: 29%;
		float: left;
}

/*@media only screen and (max-width: 767px) {*/
	.logos__img {
	    padding: 8px 18px;
	}
	.drop_menu:hover {
	    background-image: url(../img/bg_drop-menu2.png);
	}
	.header__menu__item:not(:first-child):hover{
		background-image: url(../img/menu_hover.png);
	}
/*}*/
