img {
	border: none;
}
.inform__block {
	width: 33.3%;
}
.sliders {
	background-image: url(../img/bg_sliders.png);
}
.about {
	background-color: #694876
}

	.logos__images {
		padding: 33px 0px 33px 28px;
		width: 94%;
	}

 	
@media only screen and (max-width: 959px) {
    .logos__img {
	    padding: 0 40px 0 0;
	}
	.about__company {
	    width: 33%;
	}
}
@media only screen and (max-width: 767px) {
	.logos__images {
    	padding: 33px 0px 33px 25px;
    	width: 93%;
	}
    .logos__img {
	    padding: 8px 19px;
	}
}

@media only screen and (max-width: 767px) {
	.logos__images {
    	padding: 33px 0px 33px 10px;
	}
	.logos__img {
	    padding: 8px 16px;
	}
	.drop_menu:hover {
	    background-image: url(../img/bg_drop-menu2.png);
	}
	.header__menu__item:hover{
		background-image: url(../img/menu_hover.png);
	}
}
