* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
}

body {
    font-family: "League Gothic", Arial, sans-serif;
}

a, p {
    font-size: 18px;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ------------------- HEADER ---------------------- */

.logo {
    margin-bottom: 20px;
}

.header__menu {
  background-color: #2a2d32;
  opacity: 0.9;
  height: 57px;
}

.header__menu__item {
  list-style: none;
  float: left;
  padding: 17px 36px;
  border-right: 1px solid #181a1d;
}

.header__menu__link {
  font-family: "League Gothic", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 1em;
}

.header__menu__link:hover {
  color: #f4b60d; 
}

.header__menu__item_state_current {
    background-color: #248cec;
}
    .header__menu__link:hover { color: #fff; }


/* ------------------- SLIDER ---------------------- */

.slider-image {
    width: 960px;
    max-width: 100%;
}

.slider-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 3%;
}

.slider-form {
    position: absolute;
    top: 82px;
    z-index: 1;
    right: 160px;
    background-color: #e8f3fd;
    padding: 1.5% 3%;
    border-radius: 3px;
    border: 1px solid #000;
}

.slider-form button {
    float: right;
    margin-top: 10%;
}

.slider-form .form-group {
    margin-bottom: 2px;
    width: 205px;
}

.slider {
    overflow: hidden;
    margin: 0 0 7px;
    clear: both;
}
    
.slider ul { 
    width: 9999px;
}

.slider li {
    list-style-type: none;
    float: left;
}

.next {
    position: absolute;
    top: 160px;
    right: 20px;
    z-index: 1;
    color: white;
    font-size: 45px;
}

.prev {
    position: absolute;
    top: 160px;
    left: 20px;
    z-index: 1;
    color: white;
    font-size: 45px;
}

.next:hover,
.prev.hover {
    opacity: 0.8;
    transition: all 0.5s;
}

/* ------------------- MAIN ---------------------- */

.info {
    width: 100%;
}

.info__block {
    width: 33%;
    float: left;
    padding: 2%;
}

.info__block a {
    padding-left: 40%;
}

.info__block h2 {
    font-size: 24px;
}

.article-image {
    width: 100%;
}

.page-navigation {
    text-align: center;
}

.add-info {
    padding: 4%;
}

.map > div {
    float: left;
    width: 36%;
    padding: 4%;
}

div.our-location {
    width: 56%;
}

/* ------------------- FOOTER ---------------------- */

.footer {
    background-color: #e8f3fd;
    border: 1px dashed #ddd;
}

.footer > div {
    float: left;
    padding: 1% 4%;
    margin: 3% 0;
}

.about-us {
    width: 45%;
}

.contact-us {
    width: 54%;
}

.contact-us h3 {
    float: left;
}

.contact-us > div {
    float: right;
    padding: 2%;
    width: 230px;
}

.contact-us textarea {
    margin: 10% 0;
}

.btn-primary {
    float: right;
}
