
@import 'fonts';
@import 'variables';

body {
	background-color: #fafafa;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	font-family: $font-uppercase;
	font-size: 10px;
	text-transform: uppercase;
	color: $color-blue;

	&:hover, &:focus {
	    text-decoration: none;
	    outline: none;
	    transition: all 0.25s;
	    cursor: pointer;
	    color: #5592aa;
	}
}

tr {
	font-family: $font-uppercase;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 1.5em;
}

.wrapper {
    width: 100%;
	margin: 0 auto;
	padding: 0 4%;
	position: relative;
	overflow: hidden;
}

/* --------------------- HEADER ---------------------- */

.header {
	text-align: center;
}

.header__title {
	font-family: $font-uppercase;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.3em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color-dark;
	margin-bottom: 0px;
}

.header__slogan {
	font-family: $font-italic;
	font-size: 18px;
	color: $color-light;
}

/* -------------- navbar --------------- */

.navbar {
	padding-top: 45px;
	width: 940px;
	margin: 0 auto;
}

.navbar__list {
	text-align: center;
	border-top: 1px solid #ededed;
	margin-bottom: 5px;
	padding: 0;
}

.navbar__item {
	display: inline-block;
	margin: 0 60px;
	position: relative;
    bottom: 18px;
}

.navbar__step {
	width: 35px;
    height: 35px;
    border: 1px solid $color-light;
    @include border-radius(19px);
    background-color: #fff;
    margin: 0 auto;

    span {
		vertical-align: middle;
    	position: relative;
    	top: 7px;
   		font-family: $font-uppercase;
    	font-size: 14px;
    	color: $color-light;
	}
}

.navbar__item.active {

	.navbar__step {
		border: 1px solid $color-dark;

		span {
			color: $color-dark;
		}
	}

	.navbar__name {
		color: $color-dark;
	}
}

.navbar__name {
	font-family: $font-italic;
	font-size: 18px;
	line-height: 1.7em;
	text-transform: capitalize;
	color: $color-light;
}

/* --------------------------- MAIN -------------------------------- */

.main {
	width: 940px;
	max-width: 100%;
	margin: 0 auto;
}

/* ------------ order-block ------------ */

.order-block {
	background-color: #fff;
	float: left;
	width: 65%;
	padding: 2%;
}

.order-success {
	width: 100%;
	background-color: #71aa63;
	@include border-radius(4px);
	text-align: center;
	padding: 1.5%;
	margin-bottom: 12px;
	display: none;

	h4 {
		font-family: $font-uppercase;
    	font-size: 16px;
    	line-height: 1.6em;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin: 0;
    	color: #fff;
	}

	p {
		font-family: $font-italic;
		font-size: 16px;
		line-height: 1.6em;
		margin: 0;
		color: #e1edde;
	}

}

.order-block__step2 {
	display: none;
}

.order-block__step3 {
	display: none;
}

.order-block__title {
	padding-bottom: 5px;
	border-bottom: 1px solid #ededed;

	h3 {
		display: inline-block;
		font-family: $font-italic;
		font-size: 18px;
		line-height: 1.5em;
		text-transform: capitalize;
		color: $color-dark;
		margin-top: 8px;

		span {
			color: $color-light;
		}

	}

	a {
	font-family: $font-uppercase;
	font-size: 10px;
	text-transform: uppercase;
	margin-left: 8px;
	color: $color-blue;
	}

}


/* -------------------- FORM SECTION-1 (VIEW CART)---------------------- */

.view-form {
	.form-submit {
		border: none;
	}
}

.items {
	width: 100%;

	thead {
	    border-bottom: 1px solid #ededed;
	}

	th {
		padding: 7px 42px 7px 2px;
		font-weight: 500;
	}

	td {
		padding: 13px 0;

		img {
			height: 60px;
		}	
	}
}

#cart {

	input {
		margin-left: 5px;
	    width: 13px;
	    border: none;
	    outline: none;
	}
}

.minus, .plus, .remove {
	display: inline-block;
	position: relative;
    top: 2px;
	width: 13px;
	height: 13px;
	background-image: url(../img/add_remove.png);
}

.minus {
	background-position: 0px 13px;
	margin-right: 2px;
}

.plus {
	background-position: -13px 13px;
	margin-left: 2px;
}

.remove {
	background-position: -26px 13px;
	margin-right: 7px;
}

/* ------- code-total -------- */

.code-total {
	background-color: #f7f7f7;
	width: 100%;
	padding: 2%;
	position:relative;
	overflow: hidden;
}

.code {
	float: left;
	padding: 62px 0 0 10px;
	font-family: $font-uppercase;
   	font-size: 11px;
   	line-height: 1.8em;

	input {
		width: 80px;
		@include border-radius(4px);
		outline: none;
		border: 1px solid #999;
		padding-left: 10px;
	}

	button {
		padding: 4px 15px;
    	margin-left: 3px;
    	outline: none;
	}
}

.total {
	float: right;
}

.price {

	tr {
		color: $color-light;
	}

	tr:nth-child(4) {
		font-size: 12px;
		font-weight: 700;
		color: $color-dark;
	}

	td {
		padding: 3px 30px 3px 0px;
		text-align: right;
	}

}

/* -------------------- FORM SECTION-2 (PAYMENT) -------------------- */

.payment-form {
	padding-top: 13px;
    width: 100%;
    position: relative;
    overflow: hidden;

    div:nth-child(-n+2) {
	    display: inline-block;
	}

	.form-group:nth-last-child(-n+4) {
	    width: 25%;
	    display: inline-block;
	}

	label {
		font-family: $font-uppercase;
		font-size: 10px;
		line-height: 1.5em;
		text-transform: uppercase;
		color: #666;
		width: 100%;
		margin-bottom: 0;
	}
}

.form-group {
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

#month, #year  {
    height: 27px;
    @include border-radius(4px);
    margin-right: 4px;
    background-color: #f7f7f7;
    border-color: #dedede;
    font-family: $font-normal;
	font-size: 12px;
	line-height: 1.5em;
	padding-left: 9px;
}

#month {
	width: 55px;
}

#year {
	width: 65px;
}

.checkbox, 
.checkbox input {
	margin: 0;
	padding-bottom: 10px;
}

.form-control {
	height: 27px;
	border-color: #dedede;
	padding: 0px 12px;
}

.width1 {
	width: 190px;
}

.width2 {
	width: 100px;
}

.width3 {
	width: 260px;
}

.width4 {
	width: 50px;
}

.form-submit {
	padding: 12px 0 5px;
    border-top: 1px solid #ededed;
    position: relative;
    overflow: hidden;
}

.guarantee-link {
    padding: 4px 10px;
    float: right;
}

/* ------------ modal ------------ */

.modal-dialog {
    width: 620px;
    max-width: 90%;
    // margin: 75px auto;
    margin: 7% auto;
}

.close {
	position: absolute;
    top: -25px;
    right: -25px;
    font-size: 30px;
    opacity: 0.4;
    color: $color-dark;
}

.modal-title {
	font-family: $font-uppercase;
	font-size: 22px;
	text-transform: uppercase;
	color: $color-dark;
	text-align: center;
	letter-spacing: 1px;
}

.modal-body {
	padding: 15px 0;

	h5 {
		font-family: $font-italic;
		font-size: 18px;
		color: #404040;
		text-transform: capitalize;
		text-align: center;
	}

	p {
		font-family: $font-normal;
		font-size: 12px;
		line-height: 1.7em;
		color: #666;
	}
}

.modal-content {
	padding: 3%;
}


/* ------------- buttons ------------ */

.btn-primary, 
.btn-default {
	font-family: $font-uppercase;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 23px;
	float: right;
	outline: none;

	&:focus, &:active {
		outline: none;
		@include border-radius(4px);
	}
}

.btn-primary {
	background-color: $color-blue;
	border-color: $color-blue;

	&:hover, &:active, &:focus  {
	    background-color: #5592aa;
	    border-color: #5592aa;
	    transition: all 0.25s;
	    color: #f2f2f2;
	    outline: none;
	}
}

.btn-default {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	margin-right: 8px;
	color: $color-blue;

	&:hover, &:active, &:focus {
	    background-color: #d9d9d9;
	    border-color: #d9d9d9;
	    color: #5592aa;
	    transition: all 0.25s;
	    outline: none;
	}
}


/* -------------------- FORM SECTION-3 (ADDITIONAL INFO) -------------------- */

/* ---------- basic-info --------*/

.basic-info .form-group{
	padding: 10px 0;
	font-family: $font-normal;
	font-size: 14px;
}

.basic-info {

    label {
		font-weight: 500;
		vertical-align: middle;
	    margin-bottom: 0;

	}

	div:last-child  {
		width: 100%;
		font-family: $font-uppercase;
		font-size: 12px;
		text-transform: uppercase;
		padding: 20px 0;

		textarea {
			width: 100%;
			height: 90px;
			margin-top: 5px;
		}
	}
}

.form-inline .form-control {
	font-family: $font-normal;
	font-size: 12px;
	width: 148px;
	padding: 6px 9px;
}

input[placeholder],
textarea[placeholder] {
	font-family: $font-uppercase;
	font-size: 12px;
	line-height: 1.5em;
}

#room {
	width: 200px;
}


/* ---------- upload photos --------- */

.photos p {
	font-family: $font-normal;
	font-size: 12px;
	line-height: 1.5em;
	padding: 10px 0;
	color: #666;
	margin-bottom: 0;
}

.dropzone {
	border: 1px solid #f7f7f7;
    @include border-radius(4px);
    width: 100%;
    height: 130px;
    padding: 2%;
    margin-bottom: 15px;
}

.dz-message {
	font-family: $font-uppercase ;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5em;
    color: #dedede;
    text-align: center;

    p {
    	margin: 4px 0 0;
    }
}

.note {
	display: block;
	font-size: 10px;
}

/* --------- additional info ---------- */

.add-info {
	padding-top: 15px;
    margin-bottom: 20px;

    label {
		font-family: $font-uppercase;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 500;
	}

	input {
	    width: 300px;
	}

	.form-group:last-child {
		padding-top: 8px;
	}

	.btn-default {
		float: none;
	    display: block;
	}
}

/* --------------- decor-img ------------- */

.decor-img {
	float: right;
	width: 32%;
	text-align: center;
}

@media only screen and (max-width: 460px) {
	.navbar__item {
		margin: 0 1%;
    	width: 30%;
    	bottom: 39px;
	}

	.navbar__item:nth-child(3) {
    	bottom: 19px;
	}

	#cart td:first-child {
			float: left;
    		width: 75px;
		}
}

@media only screen and (max-width: 480px) {

	.header, .main {
    	width: 100%;
	}

	.navbar__step {
		margin-bottom: 7px;
	}

	.navbar__name {
		line-height: 1.2em;
	}
}



@media screen and (max-width: 768px) { 

	.order-block {
		width: 100%;
	}

	.decor-img {
		width: 100%;
		padding-bottom: 5%;

		img {
		    width: 50%;
		}
	}
		

}

@media screen and (min-width: 768px) {
	.decor-img {

		img {
		    width: 100%;
		}
	}

}


@media screen and (max-width: 959px) { 

	.header, .main {
    	width: 100%;
	}

	.main {
		margin-bottom: 30px;
    	position: relative;
    	overflow: hidden;
	}

	.items th {
		padding: 1% 6% 1% 1%;
	}

	.navbar {
		width: 100%;
	}

	.navbar__item {
		margin: 0 1%;
    	width: 30%;
	}
}