.enter__log-in, 
.enter__sign-up,
.slogan__button,
.partners__button,
.search__button {
	height: 40px;

}

.enter__log-in, 
.enter__sign-up {
	width: 80px;
}

.slogan__button {
	width: 228px;
}

.partners__button {
	width: 208px;
}

.search__button {
	width: 164px;
}

