$font-Regular:      'philosopherregular', sans-serif;
$font-Italic:       'philosopheritalic', sans-serif;
$font-Bold:         'philosopherbold', sans-serif;
$font-BoldItalic:   'philosopherbold_italic', sans-serif;
$red-color:         #9B1B25;
$gold-color:        #c6b356;
$beige-color:       #FBF7EF;
$black-color:       #1d1d1d;